.speech {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: black;
}

.stageDirections{
    font-family:cursive;
    font-size: 18px;
    background-color:aquamarine;
    color:black;
}

.name{
    font-family:fantasy;
    font-size: 27px;
    color:black;
}

.hover:hover{
    background-color:lavenderblush;
    color:navy;
}

.gerald{
    color:tomato;
}

.ladyHunstanton{
    color:mediumseagreen;
}

.allonby{
    color:lightsalmon;
}

.alice{
    color:lime;
}

.tableStyle{
    border-style: dashed;
    border-color: orangered;
    text-align: center;
    margin: 25px 0px 0px 350px ;
}

tr:nth-last-child(even) {background-color: palegoldenrod;}

.rowNcolumn{
    border-style: double;
    border-color: blue;
    padding: 15px;
}

.nameHover:hover{
    text-shadow: 2px 2px violet;
    border-style: groove;
    border-color: ;
}
